@{
    ViewData["Title"] = "Home Page";
}


<div class="search-div" >
   <input class="search"  placeholder="Search"></input>
</div>

<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>
  
  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/Images/6005f265d43bd_EPtaj11taj11.jpg" class="d-block" style="width:100%" >
    </div>
    <div class="carousel-item">
      <img src="~/Images/imagesw.png"  class="d-block" width="100%" height="413">
    </div>
    <div class="carousel-item">
      <img src="~/Images/images.jpg" alt="New York" class="d-block" width="100%" height="413">
    </div>
  </div>
  
  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
<div class="nav container-fluid" >
   
    <div class="nav-full">
        <div class="n">
           <div class="rn">
               <img //src="~/Images/income.png" class="img-fluid"/>
               Payroll
           </div>
        </div>
        
    </div> 
    <div class="nav-full">
        <div class="">
           <div class="rn">
               <img //src="~/Images/6772402.png" width="50" height="50"/>
               TRN
           </div>
        </div>
        
    </div> 
        <div class="nav-full">
        <div class="">
           <div class="rn">
               <img //src="~/Images/3012067.png" width="50" height="50"/>
               Moter Vehicle <br>& Drivers Lic
           </div>
        </div>
        
    </div> 
    <div class="nav-full">
        <div class="">
           <div class="rn">
               <img //src="~/Images/942748.png" width="50" height="50"/>
               TCC
           </div>
        </div>
        
    </div> 
    <div class="nav-full">
        <div class="">
           <div class="rn">
               <img //src="~/Images/3444962.png" width="50" height="50"/>
               Provisional<br> Drivers Lic
           </div>
        </div>
        
    </div> 
    <div class="nav-full">
        <div class="">
           <div class="rn">
               <img /src="~/Images/1651969.png" width="50" height="50"/>
               Withholding Tax
           </div>
        </div>
       
    </div> 

</div>

<div class="tax-tips">
    <div  class="tax-tips-holder row">
        <div class="cc col-sm-4">
            <b>
                Here are some <br/> taxtips <br/>to help get 
                the upper hand<br/> on everything tax!
            </b>
        </div>
        
        <div class="ci col-sm-8">
            <div class="row">
                <div class="circle col-sm-4">
                    <div class="con">Tax Reminder</div>
            <br />Sign up for TAX REM - to get text reminders about Motor Vehicle 
            <br />Registration and Certificate of Fitness expiry dates.
        </div>
            <div class="circle col-sm-4">
                <div class="con">Motorists</div> 
            <br>You may renew your Driver’s<br> 
            Licence up to 30 days before your birthday.
            </div>
        <div class="circle col-sm-4">
            <div class="con">Saturday Opening</div> 
            <br />The Portmore Tax Office opens on Saturdays 10:00am to 4:00pm.
        </div>
        <div class="circle col-sm-4">
            <div class="con">Avoid the Rush</div> 
            <br />To avoid the rush, DON’T wait until the busy month end to make tax payments or fees.
        </div>
        <div class="circle col-sm-4">
            <div class="con">Electronic Drop Boxes</div> 
            <br />Cheque payments may be made using electronic drop boxes located at main tax offices.
        </div>
        <div class="circle col-sm-4">
            <div class="con">Save Time!</div> 
            <br />Why wait inline? File and pay GCT online.
        </div>
            </div>
        </div>
    </div>
</div>
  
<div class="News-Releases row container-fluid ">
    <div class="nav-con"><b>News Release</b></div>
    <div class="news-div col-sm-7">
        <b>Million Dollar Fine for False Tax Declaration <br>Published Date March 30, 2022 12:00 PM</b>
        <br>
        <br>         
        Tax Administration Jamaica (TAJ) through its Intelligence, Investigation and Enforcement and Legal Units,
        recently prosecuted Rogers Land Development Limited and its Director, Richard Rogers, for breaching Section
        99 (1) of the Income Tax Act (ITA).   The ITA states that “any person who for the purpose of obtaining any
        allowance, reduction, rebate or repayment in respect of Income...
        <b>Read More»</b>
    </div>
    <div class="news-div col-sm-7">
        <b>2022/2023 Property Tax due April 1 <br>Published Date April 6, 2022 8:09 AM</b> 
        <br>
        <br>
        Tax Administration Jamaica (TAJ) is advising all property owners that Property Tax payment for
        the 2022/2023 fiscal year, which remains unchanged, becomes due on April 1, 2022. The TAJ system
        has been updated to reflect the liabilities for the period and is now available for online payments.
        Persons will have until April 30, to make their payment without any penalty being applied, using a...
        <b>Read More»</b>
    </div>

    <div class="news-div col-sm-7">
        <b>Statutory Deductions for April 2022 (S01) due Monday May 16 <br>Published Date May 12, 2022 9:00 AM</b>
        <br> 
        <br> 
        Tax Administration Jamaica (TAJ) wishes to advise employers that statutory deductions (S01) 
        for April are due on Monday, May 16, 2022. This is as a result of the usual due date of the
        14 th day of the month falling on the weekend. Taxpayers will therefore be allowed to submit
        their April S01 the following business day, Monday May, 16 without incurring any penalty....
        <b>Read More»</b> 
    </div>
</div>
<div class="charity row container-fluid">
     
        <img class="charity-img"  src="~/Images/partner_logos-1.jpg"/>   

        <div class="overlay container-fluid">
            
            <p class="charity-words"><b>Learn how to get your<br> Charity Organization exempt</b></p>
            <button type="button" class="btn btn-primary">Learn More</button> 
            <div>  </div>
        </div> 
        
</div>

<div class="social-div row container-fluid">
    <div class="social-con col-sm-6 text-white container-fluid"><img class="social-img " src="~/Images/social-media-icons-free.jpg"/></div>
    <div class="social-con-1 col-sm-6 container-fluid"><h1>Social Medial Corner</h1><p>Keep updated with the latest on what</p></div>
</div>